# Created for GitHub Pages
!/assets
/node_modules
/inputs
/.aios
/.aios-core
/.antigravity
/.claude
/.codex
/.cursor
/.docker
/.gemini
/.github
/.husky
/.synapse
/bin
/docs
/packages
/pro
/tests
/.eslintcache
